.gradientText {
  color: #fff;
  background:#00ff41;
   /* linear-gradient(
    271deg,
    #fff 30%,
    #fff 50%,
    #00ff41 70%,
    #00ff41 94%
  ); */
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6.5em;
  font-family:'Space Mono', monospace;
  text-align: center;
  max-width: 50%;
}
.eyebox {
  display: "flex";
  justify-content: center;
  align-items: center;
  background: #191919;
  width: 35%;
  height: 200px;
  margin: 1em;
}
.textSub{
  display: flex;
  padding:2em;
  justify-content:center;
  align-items:center;
  width:100%;
  text-align:center;
}

.herogrid {

  display: flex;
  flex-flow: row;
  justify-content: center;
}
.parthimg {
  border-radius: 5px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  max-width: 23em ;
  filter: grayscale(10);

}


@media screen and (max-width: 765px) {
  .herogrid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .gradientText {
    max-width: 80%;
  }
  .parthimg{
    max-width: 15em;
  }
}
@media screen and (max-width: 1200px) {
  .gradientText {
    font-size: 4em;
  }
  .parthimg{
    max-width: 15em;
  }
}

