.StackImage {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
}

.StackName {
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  margin-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.StackChipContainer {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  box-shadow: 0px 0px 5px #4ade80;
  transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor:pointer;
}
.StackChipContainer:hover {
  box-shadow: 0px 0px 10px #4ade80;
}

.Container {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 5px #4ade80;
  transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 8px;
  overflow: hidden;
}

.Image {
  width: 300px;
  height: fit-content;
  object-fit: cover;
}

@media screen and (max-width: 765px) {
  .Container {
    flex-direction: column;
    width: 100%;
  }

  .Image {
    width: 400px;
  }
}

.Content {
  padding: 14px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
@media screen and (max-width: 400px) {
  .Container {
    width: 100%;
  }
  .Content{
    width: 100%;
  }

  .Image {
    width: 50%;
  }
}

.Title {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
}

.StartDate {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.EndDate {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.Completed {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  color: #4ade80;
}

.StackTiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
