.gradientBorder {
  /* border: double 1em transparent; */
  border-radius: 50%;
  background-image: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  height:max-content;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
